body {
    background-color:black;
    color:white;
    text-align:center;
    font-family:serif;
}

h1 {
    font-size:6em;
}

.logo {
    background: url('/images/ltrain.png') center top no-repeat;
    background-size: 30px 30px;
    display:inline-block;
    width:30px;
    height:30px;
    padding-top:4px;
}

.toggle {
    width:250px;
    height:45px;
    font-size:3em;
    margin:auto;
}

.toggle-on, .toggle-off {
    font-size:1em!important;
}

.toggle-dark .toggle-on, .toggle-dark .toggle-select .toggle-inner .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#242529), to(#34363b))!important;
  background: -webkit-linear-gradient(top, #242529 0%, #34363b 100%)!important;
  background: linear-gradient(top, #242529 0%, #34363b 100%)!important;
}

#nextClock, #followClock {
    margin:auto;
}

#followClock {
    font-size:3em;
}

select {
    width:270px;
    font-size:1.6em;
    font-family: inherit;
    color: black;
    -webkit-appearance: menulist-button;
}

.locform {
    padding-top:10px;
}

#save {
    color:white;
    font-family: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(#242529), to(#34363b))!important;
    background: -webkit-linear-gradient(top, #242529 0%, #34363b 100%)!important;
    background: linear-gradient(top, #242529 0%, #34363b 100%)!important;
    border-color:black;
}
#save:hover {
    color:grey;
}

#clear {
    display:none;
}
